:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --body-cream: hsl(30, 38%, 92%);
    --title-Very-dark-blue: hsl(212, 21%, 14%);
--capa-Dark-grayish-blue: hsl(228, 12%, 48%);
--card-White: hsl(0, 0%, 100%);
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    
  }
  *{
    padding: 0;
    margin: 0;
  }
  body{
    background-color: var(--body-cream);
  }
  .container{
    margin: 1em auto;
    width: 90%;
    
  }
  .card{
    background-color: var(--card-White);
    border-radius: 1em;
    overflow: hidden;
    max-width: 380px;
   
}
.cards{
  display: flex;
  justify-content: center;

}
.col-left{
  background-image: url("../img/image-product-mobile.jpg");
  
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  
  

}

.col-right{
  padding-left: 1em;
  padding-right: 1em;
  padding: 2em 2em;
  color:var(--capa-Dark-grayish-blue);
  
  font-family: 'Montserrat', sans-serif;

  
}
h3{
  text-transform: uppercase;
 font-size: 14px;
  letter-spacing: 5px;
  font-weight: normal;
}
h1{
  font-family: 'Fraunces', serif;
  color: var(--title-Very-dark-blue);
}
.col-right-paragrap{
font-size: 14px;
width: 80%;
line-height: 1.5rem;
}
.col-right-price{
  display: flex;
 margin-top: 1rem;
 
  
}
.col-right-price div:nth-child(1){
 color: var(--Dark-cyan);
 font-family: 'Fraunces', serif;
 font-size: 30px;
 font-weight: 700;
}
.col-right-price div:nth-child(2){
  font-size: 12px;
  text-decoration: line-through;
 margin-left: 1rem;
 padding-top: 10.5px;
 }
 .col-right-button{
  background-color: var(--Dark-cyan);
  height: 3rem;
  border-radius: 6px;
 margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .col-right-button a{
text-decoration: none;
color:white;
font-weight: 700;
font-size: 14px;

 }
 .col-right-button a::before{
  content: url("../img/icon-cart.svg");
 }

 @media(min-width:768px){
  .container{
    margin-top: 0;
    margin-bottom: 0;
   }

   .cards{
    height: 100vh;
    align-items: center;
    
  }
    
  .card{
    display: flex;
    max-width:600px;
   
    
  }
  .col-left{
    background-image: url("../img/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   width: 1000px;
 height: 450px;
 

    
  }
  .col-right{
    height: 450px;
  }
  
  
  }

  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }




